version: '3'
services:
  mysqldb:
    image: mysql
    container_name: mysqldb
    environment:
        MYSQL_ROOT_PASSWORD: 123456789
        MYSQL_DATABASE: workout
        MYSQL_USER: user
        MYSQL_PASSWORD: password
    ports:
        - "3306:3306"
    volumes:
        - ./mysql:/var/lib/mysql